{% extends "base.html" %}
{% block content %}
<h1>4.Aşama Sayfası</h1>
<form action="#" method="post">
    <div class="mb-3">
        <label class="form-label">1.Link</label>
        <input type="text" class="form-control" name="main_link">
        
    </div>
    <div class="mb-3">
        <label class="form-label">Link listesi</label>
        <textarea name="first_link" class="form-control" style="width: 300px;height: 300px;" ></textarea>        
    </div>
    
    <button type="submit" class="btn btn-outline-dark">Submit</button>
</form>

{% endblock %}