{% extends "base.html" %}
{% block content %}
<h1>3.Aşama Sayfası</h1>
<form action="#" method="post">
    <div class="mb-3">
        <label class="form-label">1.Link</label>
        <input type="text" class="form-control" name="first_link">
        
    </div>
    <div class="mb-3">
        <label class="form-label">2.Link</label>
        <input type="text" class="form-control" name="second_link">
    </div>
    <button type="submit" class="btn btn-outline-dark">Submit</button>
</form>

{% endblock %}